<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ room.name }} </title>
    </head>
    {{ room.name|json_script:"json-roomname" }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    <script>
        var moment = 1;
        var avg = document.getElementById("avg");
        

        if({{ room.state }} == 2){
            var sbutton = document.getElementById("start");
            if(sbutton){
                sbutton.hidden=true;
                avg.hidden=false;
            }
        }
        window.onunload = function(evt) {
            const endpoint = 'leave/';
            var formData = new FormData();
        //Required by Django for form post
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
        };

        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const roomSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/' +  roomName  +
            '/'
            );
        
        roomSocket.onmessage = function(evt) {
            console.log("Recebido");
            const data = JSON.parse(evt.data);
            if (data.message == "nm" || data.message == "ml"){
                //console.log("novo membro");
                refreshPage();
            }
        };

        function refreshPage(){
            $.ajax({
                url: '{% url 'room' room.slug %}',
                success: function(room) {
                    $('#roominfo').html(room);
                }
            });
        }

        function start() {
            roomSocket.send(JSON.stringify({
                'message': 'Started',
                'room': roomName,   
            }));
            console.log("start");
            var sbutton = document.getElementById("start");
            var avg = document.getElementById("avg");
            sbutton.hidden=true;
            avg.hidden=false;
            const endpoint = 'start/';
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
            //setTimeout('triggerCalc()', 5000);
            triggerCalc();
        }
        function triggerCalc(){
            setInterval('calculateExp()', 5000);
        }
        function calculateExp(){
            const avgExpEP = 'avgExp/'
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            //formData.append('moment', moment);
            navigator.sendBeacon(avgExpEP, formData);
            //moment = moment + 1;
            refreshPage();
        }
    </script>

    <body id="roominfo">
        <h3>{{ room.name }} </h3>
        <h4>Active members: {{ room.active_members }}</h2>
        <button id="start" type="button" onclick="start()">Start</button>
        <br>
        <h4 id="avg" hidden="true"> Average Expression: {{ room.avgExp }}</h4>
    </body> 

</html>