<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ room.name }} </title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script language="JavaScript">
        if({{ room.state }} == 2){
            var sbutton = document.getElementById("start");
            if(sbutton){
                sbutton.hidden=true;
            }
        }
        window.onunload = function(evt) {
            const endpoint = 'leave/';
            var formData = new FormData();
        //Required by Django for form post
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
        };
    </script>    
    <script>
        function autorefresh() {
            console.log("hey")
            setInterval('refreshPage()', 60000);
        }
        function refreshPage(){
            $.ajax({
                url: '{% url 'room' room.slug %}',
                success: function(room) {
                    $('#roominfo').html(room);
                }
            });
        }
        function start() {
            console.log("start");
            var sbutton = document.getElementById("start");
            sbutton.hidden=true;
            const endpoint = 'start/';
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
        }
    </script>
    <script>autorefresh()</script>
    <body id="roominfo">
        <h3>{{ room.name }} </h3>
        <h4>Active members: {{ room.active_members }}</h2>
        <button id="start" type="button" onclick="start()">Start</button>
    </body>

</html>