<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ room.name }} </title>
    </head>
    <body>
        <h3>{{ room.name }} </h3>
        <div class="col s6">
            <div class="card">
                <div class="card-content center-align">
                    <h4 class="center"><u>Live Video</u></h4>
                    <video id="video" width="600" height="450" autoplay></video>
                    <canvas id="canvas" width="600" height="450" class="hide"></canvas>
                </div>
            </div>
        </div>
    </body>
    <script language="JavaScript">
        window.onunload = function(evt) {
            const endpoint = 'leave/';
            var formData = new FormData();
        //Required by Django for form post
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
        };
    </script>
    <script>
        var moment = 1;
        var canvas2 = document.createElement("canvas")
        let video = document.getElementById('video');
        navigator.mediaDevices
            .getUserMedia({video:true})
            .then((stream) => {
                video.srcObject = stream;
                video.play();
            /* use the stream */
        })
        .catch((err) => {
            console.log(err);
            /* handle the error */
        });
        setInterval('onCapture()', 5000);

        function onCapture() {
        var video = document.querySelector("video");
        console.log(new Date(), "capture", video.videoWidth, video.videoHeight)
        canvas2.width = video.videoWidth;
        canvas2.height = video.videoHeight;
        canvas2
            .getContext("2d")
            .drawImage(video, 0, 0, video.videoWidth, video.videoHeight);

        canvas2.toBlob(async (blob) => {
            {
            const a = document.createElement('a') // Create "a" element
            const url = URL.createObjectURL(blob) // Create an object URL from blob
            var img = new Image();
            img.src = url;
            img.hidden = true;
            document.body.appendChild(img);
               
            };
        });
        baseImage = canvas2.toDataURL();
        const dst = "sendFrame/";
        var formDataImg = new FormData()
        formDataImg.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formDataImg.append('baseImage', baseImage);
        formDataImg.append('moment', moment);
        formDataImg.append('in_room', {{ room_id }})
        navigator.sendBeacon(dst, formDataImg);
        moment = moment + 1;
        console.log("Mandei imagem\n");
}
    </script>

</html>