<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ room.name }} </title>
    </head>
    <body>
        <h3>{{ room.name }} </h3>
        <div class="col s6">
            <div class="card">
                <div class="card-content center-align">
                    <h4 class="center"><u>Live Video</u></h4>
                    <video id="video" width="600" height="450" autoplay></video>
                    <canvas id="canvas" width="600" height="450" class="hide"></canvas>
                    <button type="button" class="btn" id="start-stream" style="margin-bottom: 10px">Start Face Detection
                    </button>
                    <canvas id="detect-data" width="600" height="450"></canvas>
                </div>
            </div>
        </div>
    </body>
    <script language="JavaScript">
        window.onunload = function(evt) {
            const endpoint = 'leave/';
            var formData = new FormData();
        //Required by Django for form post
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            navigator.sendBeacon(endpoint, formData);
        };
    </script>
    <script>
        let video = document.getElementById('video');
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        let draw_canvas = document.getElementById('detect-data');
        let draw_context = draw_canvas.getContext('2d');
        let image = new Image();
        navigator.mediaDevices
            .getUserMedia({video:true})
            .then((stream) => {
                var videoDevice = stream.getVideoTracks()[0];
                console.log(videoDevice);
                var captureDevice = new ImageCapture(videoDevice);
                //console.log(new ImageCapture(videoDevice));
                //console.log("oiiiiiiiii");
                console.log(captureDevice);
                var frameVar;
                if(captureDevice){
                    console.log("oii2");
                    frameVar = setInterval(captureDevice.grabFrame().then(processFrame()), 1000);
                }
                else {
                    console.log("oii3");
                }
                //video.srcObject = stream;
                //video.play();
            /* use the stream */
        })
        .catch((err) => {
            console.log(err);
            /* handle the error */
        });
        function processFrame(e){
            imgData = e.imageData;
            console.log("top");
        }
    </script>

</html>