.btn {
    background-color: #ab0357;
    color: white;
    border-color: #ab0357;
    margin-bottom: 1%;
    margin-top: 1%;
}

.btn:hover {
    background-color: #8f0349;
    border-color: #8f0349;
}

.btn a{
    color: white;
    text-decoration: none;
}

input {
    border: none;
    color:white;
    background-color: #383c42;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    margin-bottom: 1%;
}

input:focus { 
    outline:none;
    border-color:#8f0349;
    box-shadow:0 0 10px #8f0349;
}

h2 {
    margin-top: 7%;
    margin-bottom: 4%;
}