<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TCC</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h3>aloha, {{ user.username }}</h3>
        <button type="submit"> <a href="/signout">Signout</a></button>
        <br>
        <button type="submit"><a href="/rooms">View your rooms</a></button>
        or
        <button type="submit"> <a href="/rooms/newroom"> Create a room</a></button>
        {% else %}
        <h3>aloha</h3>
        <button type="submit"> <a href="/signup">Signup</a></button>
        <button type="submit"> <a href="/signin">Signin</a></button>
        {% endif %}
    </body>

</html>