<!DOCTYPE htmk>
<html>
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
    </head>
    <body>
        {% if error %}
        <div class="alert alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <h3>Enter your information</h3>
        <form action="/signup" method="post">
        {% csrf_token %}
            <input placeholder="Username" name="username" id="username">
            <input placeholder="Email" name="email" id="email">
            <input placeholder="Password" name="password" id="password">
            <button type="submit">Sign up</button>
        </form>
    </body>

</html>